<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hooongman-sos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/39ffcb10-df6b-480c-aa82-de644dfe193c/resourceGroups/Seasons-of-Serverless/providers/Microsoft.Web/sites/hooongman-SoS</ResourceId>
    <UserName>$hooongman-SoS</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://hooongman-sos.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>